h1 {    
    font-size: 2rem;
}
h2 {
    font-size: 1.4rem;
}
h3,
.headingH3 {
    font-size: 1.24rem;
}

.bold {
    font-weight: strong;
}

.inline_code {
    color: #abb2bf;
    background: #282c34;
    font-family: monospace;
    padding: 4px 6px;
    border-radius: 4px;
}