{
  "presets": ["@babel/preset-typescript", "babel-preset-gatsby"],
  "plugins": [
    "@loadable/babel-plugin",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes",
    ["@babel/plugin-proposal-private-methods", { "loose": false }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": false }]
  ]
}
