@import '~styles/imports/index';

.ingredients {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    li {
        padding-bottom: .25rem;
        padding-top: .25rem;
        border-bottom: 1px solid #e2e2e2;
    }
}

.recipeImage {
    height: 40vh !important;
}

.recipeLayout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (--above-smartphone) {
        flex-direction: row;
    }
    aside {
        width: 100%;
        display: block;
        flex-shrink: 0;
        
        @media (--above-smartphone) {
            position: sticky;
            top: 0;
            align-self: start;
            max-width: 300px;
        }
    }
}

.recipeTitle {
    margin-bottom: .25rem;
    line-height: 2.2rem;
}

.type {
    text-transform: capitalize;
}

.details {
    flex-direction: row;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.sectionHeading {
    padding-top: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}