.hero {
  display: flex;
  justify-content: center;
  height: 200px;
  overflow: hidden;
  flex-direction: column;
  background: rgb(11 0 91);
  h1, h2{
    margin: 0;
  }
  h1 {
    display: block;
  }
}
