@import '~styles/imports/index';

.navigationContainer {
  padding-bottom: 0;
  padding-top: 0;
}

.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  flex-direction: column;
  color: white;
  @media (--above-smartphone) {
    height: 100px;
    flex-direction: row;
  }
}

.navigationItem {
  display: inline-flex;
  align-items: flex-end;
  margin: 0 6px;
  position: relative;
  a {
    padding: 12px;
  }
  [aria-current] {
    &:after {
      background: #C4C4C4;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  &:first-child {
    background: -webkit-linear-gradient(180deg, #cc84ff, #4649eb);
    -webkit-text-fill-color: #0000;
    -webkit-background-clip: text;
    [aria-current]:after {
      content: none;
    }
  }
}

.navigationItem a {
  color: currentColor;
}
