@import '~styles/imports/index';

.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  flex-direction: column;
  color: white;
  @media (--above-smartphone) {
    height: 100px;
    flex-direction: row;
  }
}

.navigationItem {
  display: inline-flex;
  align-items: flex-end;
  margin: 0 6px;
  position: relative;
  a {
    padding: 12px;
  }
  [aria-current] {
    &:after {
      background: #C4C4C4;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

.navigationItem a {
  color: currentColor;
}
