ol {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    li:hover, li:focus {
        background: rgba(0,0,0,.1);
    }
    li {
        padding: .5rem;
    }
}

video {
    width: 100%;
}

code {
    background: black;
    color: #fff;
    display: block;
    padding: 1rem;
    white-space: break-spaces;
}

.copy {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.link {
    color: #c594f7;
    transition: 100ms ease color;
    &:hover {
        color: #8e4ef3;
    }
}